<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.1/js/bootstrap.min.js"></script>
  <style type="text/css">
    .form-select-mb-3 {
      color: blue;
      background-color: papayawhip;
    }
  </style>

</head>

<body>

  <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container-fluid">
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/">List</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="/addnew">Add</a>
          </li>
          <li class="nav-item">
            <a class="nav-link  active" href="/predict">Predict</a>
          </li>
          <!--li class="nav-item">
            <a class="nav-link active" href="/admin">Admin</a>
          </li-->
          <li class="nav-item">
            <a class="nav-link active" href="/alerts">Alerts</a>
          </li>

        </ul>
      </div>
    </div>
  </nav>

  {% block content %}
  <h1>List:</h1>

  <table class="table" style="text-align: center;">
    <thead>
      <tr>
        <th scope="col">Carat</th>
        <th scope="col">Cut</th>
        <th scope="col">Color</th>
        <th scope="col">Clarity</th>
        <th scope="col">Depth</th>
        <th scope="col">Table</th>
        <th scope="col">X</th>
        <th scope="col">Y</th>
        <th scope="col">Z</th>
        <th scope="col">Price</th>
      </tr>
    </thead>
    <tbody>

      {% for i,row in data.iterrows() %}

      <tr>
        <td>{{row.carat}}</td>
        <td>{{row.cut}}</td>
        <td>{{row.color}}</td>
        <td>{{row.clarity}}</td>
        <td>{{row.depth}}</td>
        <td>{{row.table}}</td>
        <td>{{row.x}}</td>
        <td>{{row.y}}</td>
        <td>{{row.z}}</td>
        <td>{{row.price}}</td>
        <!--td><a href='/details/{{i}}'>more...</a></td-->
        <td><a href='/details/{{i}}'>summary</a></td>
      </tr>

      {% endfor %}

    </tbody>
  </table>
  {% endblock %}




</body>